---
import "@/src/styles/globals.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Creatrweb",
  description = "Identity-First IndieWeb Creative Platform",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="me" href="https://instagram.com/creatrweb" />
    <link rel="me" href="https://x.com/creatrweb" />
    <link rel="me" href="https://www.tiktok.com/@creatrweb" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
